<header class="header">
  <h2>{{ titulo }}</h2>
</header>
<section class="container_cadastros fomulario ff-inter">
  <form [formGroup]="formulario">

    <div *ngIf="!alterarSenha">

      <label for="nome">Nome</label>
      <input
        type="textarea"
        class="input"
        id="nome"
        formControlName="nome"
        placeholder="Digite o nome"
      >
      <div class="mensagem__erro"
      *ngIf="formulario.get('nome')?.errors && formulario.get('nome')?.touched">
        Nome é Obrigatório!
      </div>

      <label for="cpf">CPF</label>
      <input
        type="textarea"
        class="input"
        id="cpf"
        maxlength="11"
        formControlName="cpf"
        placeholder="Digite o CPF"
      >
      <div class="mensagem__erro" *ngIf="formulario.get('cpf')?.hasError('required') && formulario.get('cpf')?.touched">
        CPF é obrigatório.
      </div>
      <div class="mensagem__erro" *ngIf="formulario.get('cpf')?.hasError('cpfInvalido')">
        CPF inválido.
      </div>

      <label for="email">E-mail</label>
      <input
        type="email"
        class="input"
        id="email"
        formControlName="email"
        placeholder="Digite o email"
      >
      <!-- Campo obrigatório para compras-->
      <div class="mensagem__erro"
      *ngIf="formulario.get('email')?.errors && formulario.get('email')?.touched">
        E-mail é Obrigatório!
      </div>

      
      <!-- Campo obrigatório para compras-->
    <label for="celular_pais">Celular</label>
    <div>
      <input
        type="number"
        class="input"
        maxlength="2"
        style="width: 90px; margin-left: 0.2rem;"
        id="celular_pais"
        formControlName="celular_pais"
        placeholder="55"
      >

      <label for="celular_ddd"></label>
      <input
        type="number"
        class="input"
        style="width: 100px; margin-left: 0.2rem;"
        id="celular_ddd"
        maxlength="3"
        formControlName="celular_ddd"
        placeholder="DDD"
      >

      <label for="celular_numero"></label>
      <input
        type="text"
        class="input"
        style="width: 273px; margin-left: 0.2rem;"
        id="celular_numero"
        maxlength="9"
        formControlName="celular_numero"
        placeholder="Digite o número"
      >
      <div class="mensagem__erro"
      *ngIf="(formulario.get('celular_numero')?.errors && formulario.get('celular_numero')?.touched) ||
              (formulario.get('celular_pais')?.errors && formulario.get('celular_pais')?.touched) ||
              (formulario.get('celular_ddd')?.errors && formulario.get('celular_ddd')?.touched)">
        Telefone é Obrigatório!
      </div>
    </div>

    </div>

    <div *ngIf="!(user$ | async) || alterarSenha">

      <label for="senha">Senha</label>
      <input
        type="password"
        class="input"
        id="senha"
        formControlName="senha"
        placeholder="Digite a senha"
      >
      <div class="mensagem__erro"
      *ngIf="formulario.get('senha')?.errors && formulario.get('senha')?.touched">
        Senha é Obrigatória!
      </div>


      <label for="senha_2">Confirme a senha</label>
      <input
        type="password"
        class="input"
        id="senha_2"
        formControlName="senha_2"
        placeholder="Digite a senha novamente"
      >
      <div class="mensagem__erro"
      *ngIf="formulario.get('senha_2')?.errors && formulario.get('senha_2')?.touched">
      Senhas não coincidem
      </div>

    </div>

    <div *ngIf="!alterarSenha">

      <div *ngIf="isAdmin">
        <div class="col-md-6">
          <input id="administrador" type="checkbox" formControlName="administrador" [checked]="false" selected />
          <label class="campo__check" for="administrador">Administrador</label>
        </div>
      </div>

    </div>

  <br/>
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-wrap gap-3">
        <button
        [disabled]="!formulario.valid"
        (click)="id ? editar() : cadastrar()"
        [ngClass]="habilitarBotao()"
        id="btnSalvar"
        >Salvar
      </button>
      <button (click)="cancelar()" class="botao_forms">Voltar para página Inicial</button>
    </div>
    <br/>
    <div *ngIf="!id">
      <p>Já tem cadastro?
        <a style="color: black;" routerLink="/login"><u>Faça login!</u></a>
      </p>
    </div>
    <div *ngIf="id && !alterarSenha">
      <p>Deseja
        <a style="color: black;" [routerLink]="['/alterarSenha', id]" [queryParams]="{ alterarSenha: true }"><u>alterar a senha?</u></a>
      </p>
    </div>
  </div>
</form>

</section>
